* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,body{
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}
header {
    height: 200px;
    padding: 20px 0;
}

.formulario {
width: 40%;
margin: auto;
margin-top: 5%;
border: 1px solid white;


}

footer {
 
    text-align: right;
    color:  #513443;

    
}

.media-social {
    padding-right: 5%;
    max-width: 100%;
}

footer > p {
    text-align: center;
    margin-top: 2%;
}

.btn-custom {
    background-color: #513443; 
    color: white;
}
